<div *ngIf="product" class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img [src]="'http://localhost:3000' + product.ImageUrl" alt="Product Image" class="img-fluid rounded shadow">
    </div>
    <div class="col-md-6">
      <h2>{{ product.ProductName }}</h2>

      <p><strong>฿ Price:</strong> {{ product.Price | number:'1.2-2' }} THB</p>แป
      <p><strong><i class="bi bi-box-seam"></i> Stock:</strong> {{ product.Stock }}</p>

      <div class="form-group">
        <label for="quantity"><i class="bi bi-cart-plus"></i> Quantity</label>
        <input type="number" id="quantity" class="form-control" [(ngModel)]="quantity" min="1" [max]="product.Stock"
          [disabled]="product.Stock === 0">
      </div>
      <br>
      <!-- Add to Cart button only appears when userRole is User and Stock is not 0 -->
      <button *ngIf="userRole?.trim() === 'User'" class="btn btn-primary" (click)="addToCart()"
        [disabled]="product.Stock === 0 || quantity > product.Stock || quantity <= 0">
        <i class="bi bi-cart-check"></i> Add to Cart
      </button><br><br>
      <p>{{ product.Description }}</p>
      <!-- Out of Stock message -->
      <p *ngIf="product.Stock === 0" class="text-danger"><i class="bi bi-exclamation-triangle"></i> This product is out
        of stock</p>
    </div>
  </div>
</div>