<div class="container mt-4">
  <h2>Manage Products</h2>

  <form (ngSubmit)="onSubmit()" #productForm="ngForm" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" required [(ngModel)]="product.description" name="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label" >Stock</label>
      <input type="number" class="form-control" id="stock" required [(ngModel)]="product.stock" name="stock" min="1">
    </div>
    <!-- Input สำหรับการเลือกหมวดหมู่ -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" id="category" [(ngModel)]="product.categoryId" name="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.CategoryId">
          {{ category.CategoryName }}
        </option>
      </select>
    </div>
    <!-- Input สำหรับการอัพโหลดรูปภาพ -->
    <div class="mb-3">
      <label for="image" class="form-label">Product Image</label>
      <input type="file" class="form-control" id="image" (change)="onFileSelected($event)">
    </div>
    <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update Product' : 'Add Product' }}</button>
  </form>

  <div class="container mt-4">
    <h2>Product List</h2>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <!-- ต่อ URL ใน HTML เหมือนกับที่ใช้ใน category -->
            <img 
              [src]="'http://localhost:3000' + product.ImageUrl" 
              alt="Product Image" 
              width="50" 
              *ngIf="product.ImageUrl" 
            />
          </td>
          <td>{{ product.ProductName }}</td>
          <td>{{ product.Price |  number:'1.2-2' }} THB</td>
          <td>{{ product.Stock }}</td>
          <td>
            <button class="btn btn-warning btn-sm me-2" (click)="editProduct(product)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.ProductId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
