/* Footer Customization */
footer {
    background-color: #16423C; /* พื้นหลังของ footer เป็นสี #16423C */
    padding-top: 0px;
    padding-bottom: 20px;
    color: #E9EFEC; /* สีข้อความหลักใน footer เป็นสี #E9EFEC */
}

footer a {
    color: #C4DAD2; /* สีลิงก์เป็นสี #C4DAD2 */
    transition: color 0.3s ease;
}

footer a:hover {
    color: #6A9C89; /* สีลิงก์เมื่อ hover เป็น #6A9C89 */
    text-decoration: none;
}

footer h6 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #E9EFEC; /* สีของหัวข้อใน footer เป็น #E9EFEC */
}

footer .text-reset {
    font-size: 0.9rem;
    color: #C4DAD2; /* สีของข้อความรายละเอียดเป็นสี #C4DAD2 */
}

footer p {
    margin-bottom: 10px;
    color: #E9EFEC; /* สีข้อความ */
}

footer .bi {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #C4DAD2; /* สีของไอคอนเป็นสี #C4DAD2 */
}

footer .bi:hover {
    color: #6A9C89; /* สีของไอคอนเมื่อ hover เป็นสี #6A9C89 */
}

footer .border-bottom {
    border-color: rgba(233, 239, 236, 0.1) !important; /* ขอบล่างเป็นโปร่งแสง */
}



footer .social-media a {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: #C4DAD2;
}

footer .social-media a:hover {
    color: #6A9C89;
}

footer .container {
    max-width: 1100px;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    footer .container {
        text-align: center;
    }
    
    footer .row {
        margin-top: 30px;
    }
    
    footer .col-md-3, footer .col-md-4 {
        margin-bottom: 40px;
    }
}
